/* flex.css */

/* Загальні стилі */
body {
  margin: 0;
  font-size: 14px;
  font-family: Arial, sans-serif;
  height: 100%;
}

header {
  padding: var(--gutter-width) calc(var(--gutter-width) * 2);
  height: var(--header-height);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > h2 > a {
  color: var(--title-color-mobile);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

header > nav {
  display: flex;
}

header .app-nav-list > li {
  margin-left: var(--gutter-width);
}

header .app-nav-list > li a {
  text-decoration: none;
  color: var(--title-color-mobile);
}

header .app-main-btn {
  border: none;
  padding: calc(var(--gutter-width) / 2) var(--gutter-width);
  background: var(--button-color-mobile);
  color: white;
  text-transform: uppercase;
  margin-left: auto;
}

/* Main Content */
.app-main-wrap {
  margin: 0 calc(var(--gutter-width) * 2);
  height: calc(100% - var(--header-height) - var(--footer-height));
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.app-main-wrap .app-main {
  flex: 3;
  text-align: center;
}

.app-main-wrap .app-sidebar {
  flex: 1;
  border: 1px solid #000;
  padding: var(--gutter-width);
  box-sizing: border-box;
  margin-top: var(--gutter-width);
}

.app-main-wrap .desc {
  margin: calc(var(--gutter-width) / 2) 0 var(--gutter-width);
}

.app-main-wrap .app-bg-cont img {
  width: 100%;
}

/* Footer */
footer {
  margin: 0 calc(var(--gutter-width) * 2);
  height: var(--footer-height);
  text-align: center;
  overflow: auto;
  box-sizing: border-box;
}
