html, body {
  margin: 0;
  font-size: 14px;
  font-family: Arial;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--gutter-width) calc(var(--gutter-width) * 2);
  height: var(--header-height);
  box-sizing: border-box;
}

header > h2 {
  margin: 0;
}

header > h2 > a {
  color: var(--title-color-mobile);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

header > nav ul {
  display: flex;
  gap: var(--gutter-width);
  margin: 0;
  padding: 0;
}

header .app-nav-list > li a {
  text-decoration: none;
  color: var(--title-color-mobile);
}

header .app-main-btn {
  border: none;
  padding: calc(var(--gutter-width) / 2) var(--gutter-width);
  background: var(--button-color-mobile);
  color: white;
  text-transform: uppercase;
}

/* Основний контент */
.app-main-wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gutter-width);
  margin: 0 calc(var(--gutter-width) * 2);
  height: calc(100% - var(--header-height) - var(--footer-height));
  box-sizing: border-box;
}

.app-main {
  text-align: center;
}

.app-sidebar {
  border: 1px solid #000;
  padding: var(--gutter-width);
}

.app-main-wrap .desc {
  margin: calc(var(--gutter-width) / 2) 0 var(--gutter-width);
}

.app-bg-cont img {
  width: 100%;
}

footer {
  padding: var(--gutter-width) calc(var(--gutter-width) * 2);
  height: var(--footer-height);
  text-align: center;
  box-sizing: border-box;
}
