@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .app-main-wrap .app-main {
    float: left;
    width: calc(75% - var(--gutter-width));
    height: 100%;
    margin: 0 var(--gutter-width) 0 0;
  }

  .app-main-wrap .app-sidebar {
    float: left;
    width: calc(25% - var(--gutter-width));
    height: 100%;
    margin: 0 0 0 var(--gutter-width);
  }
}

@media (min-width: 1200px) {

}
