html, body {
    height: 100%;
    overflow: hidden;
}

.header-area > * {
    float: left;
}

.header-area {
    color: var(--desktop-title-color);
    padding: 20px 30px 0 30px;
    height: var(--header-height);
}

.nav-menu {
    margin: 8px 0 0 12px;
    font-size: 1.5rem;
}

.nav-list > li {
    float: left;
}
.nav-list > li > a {
    color: var(--desktop-title-color);
    margin-right: 12px;
}

.header-area h1 {
    font-size: 2rem;
    font-weight: bold;
}

.header-area button {    
    float: right;
    border: none;
    padding: 12px 18px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--desktop-button-color);
    cursor: pointer;
}

.content-wrapper {
    margin: 12px 30px;
    height: calc(100% - var(--header-height) - var(--footer-height));
    box-sizing: border-box;
}

.main-content {
    height: calc(100% - var(--spacing)/2);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.content-section {
    float: left;
    width: 78%;
    padding-right: 18px;
    box-sizing: border-box;
    max-height: calc(100% - var(--spacing)*2);
}

h2 {
    font-size: 2rem;
    color: var(--desktop-title-color);
    font-weight: 700;
}

.text-block {
    margin: 12px 0;
}

.sidebar {
    float: right;
    border: 1px solid #333;
    box-sizing: border-box;
    padding: var(--spacing);
    margin-left: var(--spacing);
    width: 18%;
    height: 100%;
}

.images img {
    width: 100%;
    max-height: 780px;
}

#tablet-img, #mobile-img {
    display: none;
}

footer {
    margin: 18px calc(var(--spacing) * 2);
    height: calc(var(--footer-height) - var(--spacing));
    text-align: center;
    overflow: auto;
    box-sizing: border-box;
}
