@media only screen and (max-width: 450px) {
    .iav_header {
        color: var(--title-color-mobile);
        height: calc(var(--header-height) - var(--gutter-width));
    }

    .iav_section {
        float: none;
        width: 100%;
        padding: 0 20px;
    }

    .iav_sidebar {
        float: none;
        width: 90%;
        margin: 10px 20px;
        padding: 10px;
        height: auto;
    }
}

@media only screen and (min-width: 451px) and (max-width: 1024px) {
    .iav_section {
        width: 70%;
    }

    .iav_sidebar{
        width: 25%;
    }
}
