@media only screen and (max-width: 450px) {
  .header-area {
      color: var(--mobile-title-color);
      height: calc(var(--header-height) - var(--spacing));
  }

  .content-section {
      float: none;
      width: 98%;
      padding: 0 18px;
  }

  .sidebar {
      float: none;
      width: 88%;
      margin: 12px 18px;
      padding: 12px;
      height: auto;
  }
}

@media only screen and (min-width: 451px) and (max-width: 1024px) {
  .content-section {
      width: 68%;
  }

  .sidebar {
      width: 28%;
  }
}
