@media (min-width: 375px) and (max-width: 767px) {
    .app-main-wrap {
        grid-template-areas: 'main' 'side';
    }

    .grid-header {
        grid-template-areas: 'head . .'
            'pau pau pau'
            '. . button';
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 1199px) {
    .app-main-wrap {
        grid-template-areas: 'main' 'side';
    }

    .grid-header {
        grid-template-columns: 12% 1fr 1fr;
    }

    .nav-list {
        grid-template-columns: 27% 27% 27%;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .app-main-wrap {
        grid-template-columns: 75% 25%;
        grid-column-gap: 30px;
        grid-template-areas: 'main side';
    }

    .grid-header {
        grid-template-columns: 7% 24% 1fr;
    }

    .nav-list {
        grid-template-columns: 27% 27% 27%;
    }

}