/* Найменші пристрої (портретні телефони, менше 576px) */
/* Немає медіа-запиту для `xs`, оскільки це значення за замовчуванням */
/* Утиліти */
h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--mobile-title-color);
  margin: calc(var(--spacing) / 2) 0 var(--spacing);
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--mobile-title-color);
  margin: calc(var(--spacing) / 2) 0 var(--spacing);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.tablet-view, .desktop-view {
  display: none;
}

/* Маленькі пристрої (телефони в альбомній орієнтації, від 576px) */
@media (min-width: 576px) {

}

/* Середні пристрої (планшети, від 768px) */
@media (min-width: 768px) {
  header > h2 > a {
    color: var(--tablet-title-color);
  }

  header .navigation > li a {
    color: var(--tablet-title-color);
  }

  header .main-btn {
    background: brown;
  }

  h1 {
    color: var(--tablet-title-color);
  }

  h2 {
    color: var(--tablet-title-color);
  }

  .mobile-view {
    display: none;
  }

  .tablet-view {
    display: block;
  }
}

/* Великі пристрої (десктопи, від 992px) */
@media (min-width: 992px) {
  .tablet-view {
    display: none;
  }

  .desktop-view {
    display: block;
  }
}

/* Дуже великі пристрої (широкоформатні десктопи, від 1200px) */
@media (min-width: 1200px) {
  header > h2 > a {
    color: var(--desktop-title-color);
  }

  header .navigation > li a {
    color: var(--desktop-title-color);
    text-decoration: none;
  }

  header .main-btn {
    background: var(--desktop-button-color);
  }

  h1 {
    color: var(--desktop-title-color);
  }

  h2 {
    color: var(--desktop-title-color);
  }
}
