/* Змінні для проекту */
:root {
  /* Кольори заголовків */
  --mobile-title-color: red;
  --tablet-title-color: green;
  --desktop-title-color: blue;

  /* Кольори кнопок */
  --mobile-button-color: blue;
  --tablet-button-color: brown;
  --desktop-button-color: red;

  /* Розміри */
  --spacing: 20px;
  --header-size: 100px;
  --footer-size: 100px;
}
