/* grid-media-query.css */

/* Мобильная версия */
@media (max-width: 600px) {
    .app-main-wrap {
      grid-template-columns: 1fr;
    }
    .app-sidebar {
      display: none;
    }
    .app-bg-cont .app-mobile {
      display: block;
      width: 100%;
    }
  }
  
  /* Планшетная версия */
  @media (min-width: 601px) and (max-width: 1024px) {
    .app-main-wrap {
      grid-template-columns: 1fr 1fr;
    }
    .app-bg-cont .app-table {
      display: block;
      width: 100%;
    }
  }
  
  /* Десктопная версия */
  @media (min-width: 1025px) {
    .app-main-wrap {
      grid-template-columns: 1fr 3fr;
    }
    .app-sidebar {
      display: block;
    }
    .app-bg-cont .app-desktop {
      display: block;
      width: 100%;
    }
  }
  