/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .app-main-wrap {
    grid-template-columns: calc(25% - var(--gutter-width)) calc(75% - var(--gutter-width));
    height: 100%;
  }

  .app-main-wrap .app-main, .app-main-wrap .app-sidebar {
    height: 100%;
    max-height: 100%;
  }

  .app-main-wrap .app-sidebar {
    max-height: 100%;
    overflow: hidden; 
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
